<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="div">
      <p>Code by Đinh Nhân and Dũng Trần</p>
      <img src="../public/images/Food/chai-ruou-vang-phap-le-carmes.jpg"/>
    </div>
  </body>

  
</html>
